<h1>Question <%= params[:id] %> from test <%= @question.test.title %>, level <%= @question.test.level %></h1>

<p>
  <strong>Id:</strong>
  <%= @question.id %>
<p/>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
<p/>

<h2>Answers for this question:</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Body</th>
  </tr>

  <% @question.answers.each do | answer | %>
    <tr>
      <td><%= answer.id %></td>
      <td><%= answer.body %></td>
    </tr>
  <% end %>
</table>