<h1>Test <%= params[:id] %> </h1>

<p>
  <strong>Title:</strong>
  <%= @test.title %>
<p/>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
<p/>

<h2>Questions from this test:</h2>

<p>
  <%= link_to 'New question for this test', new_test_question_path(@test) %>
</p>

<table>
  <tr>
    <th>Id</th>
    <th>Body</th>
    <th colspan="3">Actions</th>
  </tr>

  <% @test.questions.each do |question| %>
    <%= render partial: 'shared/actions', locals: {question: question, test: @test} %>
  <% end %>
</table><br>

<%= link_to 'Edit', edit_admin_test_path(@test) %> | 
<%= link_to 'Back', admin_tests_path %>