<h1><%= t('.header') %></h1>

<%= link_to 'Register a new user', new_user_registration_path %><br>

<%= link_to 'Login existing user', new_user_session_path %><br>

<%= link_to 'Go to admin resources', admin_tests_path if current_user.is_a?(Admin) %>

<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Qnt questions</th>
    <th>Actions</th>
  </tr>

  <%= render @tests %>
</table>
