<!DOCTYPE html>
<html>
  <head>
    <title>Testguru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <br>
      <p>
      <%= Time.current.year %>, Basystyy Andrew, the illusion of becoming a programmer)))<br>
      <%= link_to 'TestGuru project', 'https://github.com/Basystyy/testguru.git' %><br>
      <%= link_to 'project in an online school Thinknetica', 'http://thinknetica.com' %> <br>
      </p>
    </footer>
  </body>
</html>
